# Ignore Mac system files
.DS_store

# Ignore all text files
*.txt

# Ignore all fig files
*.fig

# Ignore all csv files
*.csv

# Ignore all asv files
*.asv

# Ignore RCEW_DEM directory
**/RCEW_DEM/

# Ignore RCEW directory
**/RCEW/

# Ignore DryCreek directory
**/DryCreek/

# Ignore jupyter checkpoint folder
**/.ipynb_checkpoints/
